html {
  background-color: #282c34;
  color: antiquewhite;
  margin: 10px;
}

.container {
  background-color: chocolate;
  padding: 10px;
}

card {
  padding: 2px;
}
.contact {
  background-color: firebrick;
}
.hobbies {
  background-color: hotpink;
}